# Visualizing State by State Representation Ratios in Presidential Elections

In this notebook, I investigate how the number of citizens per presidential elector and number of registered voters per presidential elector vary by state and by political party.

Population data comes from the US census. https://www2.census.gov/programs-surveys/popest/datasets/

Electoral vote per state historical data comes from Wikipedia: https://en.wikipedia.org/wiki/United_States_Electoral_College#Chronological_table

Election results come from Federal Elections Commission:  https://www.fec.gov/introduction-campaign-finance/election-results-and-voting-information/federal-elections-2016/

Potentially useful: https://electionlab.mit.edu/data

In [240]:
import pandas as pd

In [252]:
pd.set_option('display.max_rows', 20) 
pd.set_option("styler.format.thousands", ",")
pd.set_option("styler.format.precision", 0)
pd.options.display.float_format = '{:,.0f}'.format
# pd.set_option("styler.float_format", '{:,.0f}')

In [182]:
{
    "tags": [
        "hide-input",
    ]
}

state_lookup = states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'ME*': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NE*': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

## Clean and combine by-state data: electoral votes, population, and results

### Electoral Votes per State per Year

The elector by state data is organized with rows = states, columns = contiguous chunks of years where the distribution was the same. In recent history, these chunks represent decades.
Once a decade, following the census, the number of congressional representatives (and therefore number of electors) is redistributed across the states to account for population growth 
and migration. This data is organized to minimize space/duplication of election years where the distribution did not change. But it will be easier to work with if we have one column per year.

In [184]:
def get_century_prefix(i: int) -> str:
    # takes i representing ith presidential election
    # returns corresponding century prefix as str
    
    if i < 4:
        return '17'
    elif i < 29:
        return '18'
    elif i < 54:
        return '19'
    else:
        return '20'

In [288]:
electors = pd.read_csv(
    'data/historical_elector_data.csv',
    skiprows = 1,
    index_col = 1
).fillna(0)

electors = electors.rename(columns = {'Unnamed: 0': 'State_order'})


# iterate over the column names (str)
# to_drop stores columns that are split into multiple cols, so we can drop the originals
to_drop = []
# keep track of ith election year
i = 0
# skip first two columns: State_founded and State
for col in electors.columns[1:]:
    years = col.split('\n')
    # if col_name contains more than one year
    if len(years) > 1:
        # create a new column for each year
        for year in years:
            i += 1
            year_clean = get_century_prefix(i) + year.split('.')[0].replace("'", "")
            electors[year_clean] = electors[col].copy()
        # add to list of columns to drop
        to_drop.append(col)
    else:
        i += 1
        year_clean = get_century_prefix(i) + years[0].split('.')[0].replace("'", "")
        electors = electors.rename({col: year_clean}, axis='columns')

# drop columns with names containing multiple years
electors = electors.drop(columns = to_drop)
# drop first two summary rows
electors = electors.drop(['Total', 'State'])

In [289]:
electors

,State_order,1788,1792,1812,1816,1820,1832,1844,1848,1860,...,1992,1996,2000,2004,2008,2012,2016,2020,2024,2028
Alabama,22,0,0,0,0,3,7,9,9,9,...,9,9,9,9,9,9,9,9,9,9
Alaska,49,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
Arizona,48,0,0,0,0,0,0,0,0,0,...,8,8,8,10,10,11,11,11,11,11
Arkansas,25,0,0,0,0,0,0,3,3,4,...,6,6,6,6,6,6,6,6,6,6
California,31,0,0,0,0,0,0,0,0,4,...,54,54,54,55,55,55,55,55,54,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,10,12,21,25,25,25,23,17,17,15,...,13,13,13,13,13,13,13,13,13,13
Washington,42,0,0,0,0,0,0,0,0,0,...,11,11,11,11,11,12,12,12,12,12
West Virginia,35,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,4,4
Wisconsin,30,0,0,0,0,0,0,0,4,5,...,11,11,11,10,10,10,10,10,10,10
Wyoming,44,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3

### Population by State by Year

In [269]:
# ingest 2010s population data
pop2010s = pd.read_csv(
    'data/nst-est2020-popchg2010-2020.csv',
    names = ['State', 'discard', 'Pop2010', 'Pop2011', 'Pop2012', 'Pop2013', 'Pop2014', 'Pop2015', 'Pop2016', 'Pop2017', 'Pop2018', 'Pop2019'],
    header = 0,
    index_col = 0,
    skiprows= range(1, 6),
    usecols= range(4, 16),
    thousands= "*"
)
pop2010s = pop2010s.drop(columns='discard').drop(labels='Puerto Rico')

In [284]:
# read in and clean 2020s population per state .xlsx
pop2020s = pd.read_excel(
    'data/NST-EST2023-POP.xlsx',
    skiprows = 8,
    names = ['State', 'discard', 'Pop2020', 'Pop2021', 'Pop2022', 'Pop2023']
)
pop2020s['State'] = pop2020s['State'].str[1:]

pop2020s = pop2020s.drop(columns='discard').drop(labels = range(51,59))

In [290]:
# join votes and pop dfs
by_state = electors.join(pop2020s.iloc[:,1:])

In [291]:
by_state

,State_order,1788,1792,1812,1816,1820,1832,1844,1848,1860,...,2008,2012,2016,2020,2024,2028,Pop2020,Pop2021,Pop2022,Pop2023
Alabama,22,0,0,0,0,3,7,9,9,9,...,9,9,9,9,9,9,NaN,NaN,NaN,NaN
Alaska,49,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,NaN,NaN,NaN,NaN
Arizona,48,0,0,0,0,0,0,0,0,0,...,10,11,11,11,11,11,NaN,NaN,NaN,NaN
Arkansas,25,0,0,0,0,0,0,3,3,4,...,6,6,6,6,6,6,NaN,NaN,NaN,NaN
California,31,0,0,0,0,0,0,0,0,4,...,55,55,55,55,54,54,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,10,12,21,25,25,25,23,17,17,15,...,13,13,13,13,13,13,NaN,NaN,NaN,NaN
Washington,42,0,0,0,0,0,0,0,0,0,...,11,12,12,12,12,12,NaN,NaN,NaN,NaN
West Virginia,35,0,0,0,0,0,0,0,0,0,...,5,5,5,5,4,4,NaN,NaN,NaN,NaN
Wisconsin,30,0,0,0,0,0,0,0,4,5,...,10,10,10,10,10,10,NaN,NaN,NaN,NaN
Wyoming,44,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,NaN,NaN,NaN,NaN

In [181]:
# join votes and pop dfs
by_state = electors.join(pop2020s.iloc[:,1:])

# create pop per vote ratios
by_state['2020pop_per_vote'] = by_state['Jul2020'] / by_state['Votes']
by_state['2020pop_per_adj_vote'] = by_state['Jul2020'] / by_state['Votes_without_Sens']

In [8]:
by_state.sort_values('2020pop_per_vote', ascending = True)

,State,Votes,Votes_without_Sens,Apr2020,Jul2020,Jul2021,Jul2022,Jul2023,2020pop_per_vote,2020pop_per_adj_vote
50,Wyoming,3,1,"576,850","577,664","579,548","581,629","584,057","192,555","577,664"
45,Vermont,3,1,"643,077","642,936","647,093","647,110","647,464","214,312","642,936"
8,District of Columbia,3,1,"689,548","670,839","669,037","670,949","678,972","223,613","670,839"
1,Alaska,3,1,"733,374","732,964","734,923","733,276","733,406","244,321","732,964"
34,North Dakota,3,1,"779,079","779,563","777,982","778,912","783,926","259,854","779,563"
26,Montana,4,2,"1,084,244","1,087,211","1,106,366","1,122,878","1,132,812","271,803","543,606"
39,Rhode Island,4,2,"1,097,371","1,096,444","1,097,092","1,093,842","1,095,962","274,111","548,222"
41,South Dakota,3,1,"886,668","887,852","896,299","909,869","919,318","295,951","887,852"
7,Delaware,3,1,"989,946","991,862","1,004,881","1,019,459","1,031,890","330,621","991,862"
19,Maine,4,2,"1,363,177","1,364,517","1,378,787","1,389,338","1,395,722","341,129","682,258"
29,New Hampshire,4,2,"1,377,524","1,378,702","1,387,494","1,399,003","1,402,054","344,676","689,351"
11,Hawaii,4,2,"1,455,274","1,451,181","1,446,745","1,439,399","1,435,138","362,795","725,590"
27,Nebraska,5,3,"1,961,965","1,963,273","1,964,253","1,968,060","1,978,379","392,655","654,424"
31,New Mexico,5,3,"2,117,525","2,118,488","2,116,950","2,113,476","2,114,371","423,698","706,163"
48,West Virginia,4,2,"1,793,713","1,791,562","1,785,249","1,774,035","1,770,071","447,890","895,781"
12,Idaho,4,2,"1,839,117","1,849,339","1,904,537","1,938,996","1,964,726","462,335","924,670"
16,Kansas,6,4,"2,937,835","2,938,124","2,937,946","2,936,716","2,940,546","489,687","734,531"
24,Mississippi,6,4,"2,961,306","2,958,409","2,949,582","2,938,928","2,939,690","493,068","739,602"
3,Arkansas,6,4,"3,011,490","3,014,348","3,028,443","3,046,404","3,067,732","502,391","753,587"
6,Connecticut,7,5,"3,605,912","3,577,586","3,603,691","3,608,706","3,617,176","511,084","715,517"
28,Nevada,6,4,"3,104,617","3,115,840","3,146,632","3,177,421","3,194,176","519,307","778,960"
37,Oregon,8,6,"4,237,279","4,245,044","4,256,465","4,239,379","4,233,358","530,630","707,507"
15,Iowa,6,4,"3,190,427","3,190,904","3,197,944","3,199,693","3,207,004","531,817","797,726"
44,Utah,6,4,"3,271,614","3,283,982","3,339,284","3,381,236","3,417,734","547,330","820,996"
0,Alabama,9,7,"5,024,294","5,031,864","5,050,380","5,073,903","5,108,468","559,096","718,838"
17,Kentucky,8,6,"4,506,297","4,508,155","4,507,600","4,511,563","4,526,154","563,519","751,359"
36,Oklahoma,7,5,"3,959,411","3,965,234","3,991,634","4,019,271","4,053,824","566,462","793,047"
40,South Carolina,9,7,"5,118,422","5,132,151","5,193,848","5,282,955","5,373,555","570,239","733,164"
23,Minnesota,10,8,"5,706,804","5,710,578","5,717,968","5,714,300","5,737,915","571,058","713,822"
5,Colorado,10,8,"5,773,707","5,785,219","5,811,596","5,841,039","5,877,610","578,522","723,152"
18,Louisiana,8,6,"4,657,785","4,652,022","4,627,047","4,588,023","4,573,749","581,503","775,337"
49,Wisconsin,10,8,"5,893,713","5,896,700","5,879,978","5,890,543","5,910,955","589,670","737,088"
25,Missouri,10,8,"6,154,889","6,154,426","6,170,393","6,177,168","6,196,156","615,443","769,303"
14,Indiana,11,9,"6,785,442","6,789,098","6,813,798","6,832,274","6,862,199","617,191","754,344"
20,Maryland,10,8,"6,177,253","6,173,689","6,175,045","6,163,981","6,180,253","617,369","771,711"
42,Tennessee,11,9,"6,910,786","6,926,091","6,963,709","7,048,976","7,126,489","629,645","769,566"
21,Massachusetts,11,9,"7,032,933","6,997,713","6,991,951","6,982,740","7,001,399","636,156","777,524"
47,Washington,12,10,"7,705,267","7,724,566","7,741,433","7,784,477","7,812,880","643,714","772,457"
2,Arizona,11,9,"7,157,902","7,186,683","7,272,487","7,365,684","7,431,344","653,335","798,520"
33,North Carolina,16,14,"10,439,459","10,453,812","10,567,100","10,695,965","10,835,491","653,363","746,701"
30,New Jersey,14,12,"9,289,039","9,272,392","9,269,175","9,260,817","9,290,841","662,314","772,699"
46,Virginia,13,11,"8,631,373","8,637,193","8,657,348","8,679,099","8,715,698","664,399","785,199"
10,Georgia,16,14,"10,713,771","10,732,390","10,790,385","10,913,150","11,029,227","670,774","766,599"
22,Michigan,15,13,"10,077,674","10,070,627","10,038,117","10,033,281","10,037,261","671,375","774,664"
13,Illinois,19,17,"12,813,469","12,790,357","12,690,341","12,582,515","12,549,689","673,177","752,374"
38,Pennsylvania,19,17,"13,002,788","12,995,477","13,013,614","12,972,091","12,961,683","683,972","764,440"
35,Ohio,17,15,"11,799,331","11,798,292","11,765,227","11,759,697","11,785,935","694,017","786,553"
32,New York,28,26,"20,202,320","20,104,710","19,854,526","19,673,200","19,571,216","718,025","773,258"
9,Florida,30,28,"21,538,216","21,591,299","21,830,708","22,245,521","22,610,726","719,710","771,118"
43,Texas,40,38,"29,145,459","29,234,361","29,561,286","30,029,848","30,503,301","730,859","769,325"
4,California,54,52,"39,538,212","39,503,200","39,145,060","39,040,616","38,965,193","731,541","759,677"

In [74]:
def clean_results(file_path, ref):
    """
    Loads and formats .xlsx that contains the election results for one year
    
    Args:
        file_path (str): absolute or relative path to .xlsx file
        ref (pd.DataFrame): look-up table of states and their abbreviations
    
    Returns:
        pd.DataFrame: cleaned data
    """
    
    results = pd.read_excel(
        file_path,
        sheet_name = 2,
        skiprows = 3,
        names = ['State_abbr', 'Electors_D', 'Electors_R', 'Pop_Vote_D', 'Pop_Vote_R', 'Pop_Vote_Other', 'Total_Vote'],
        skipfooter = 4,
        thousands = ','
    )
    
    # find the 0th index where State_abbr LIKE 'WY'
    end_idx = results.index[results['State_abbr'].str.match('WY', na=False)].tolist()[0]
    # drop all rows after WY line
    results = results.drop(range(end_idx+1, len(results)))
    
    # add State column with abbreviation mapping in ref
    results['State'] = results['State_abbr'].map(ref)
    
    #reorder columns
    results = results[['State', 'Electors_D', 'Electors_R', 'Pop_Vote_D', 'Pop_Vote_R', 'Pop_Vote_Other', 'Total_Vote']]
    
    # remove ** from Electors cols which correspond to faithless electors
    for col in ['Electors_D', 'Electors_R']:
        results.loc[:, col] = results.loc[:, col].astype(str).str.strip('*').str.replace('nan', '0').astype(int)
    
    # fill na values with 0
    results.loc[:, ['Electors_D', 'Electors_R']] = results.loc[:, ['Electors_D', 'Electors_R']].fillna(0)
    
    return results

In [75]:
results_2016 = clean_results('federalelections2016.xlsx', state_lookup)

### Questions to Answer

*What would election results look like if states didn't get an additional 2 electoral votes across the board?

*How does the rounding error in number of congressional reps vary by political party?

### Handling Copy-On-Write warning above

results_2020.loc[:, ['Electors_D', 'Electors_R']] creates a view/slice.

results_2020[['Electors_D', 'Electors_R']] creates a **new** DataFrame containing only those columns. This can be confirmed by checking their memory location with id().

In [78]:
# can't figure out how to properly format both ints and floats
# so, cast all to float (to get comma-separted thousands)
#results_2020.iloc[:, 3:] = results_2020.iloc[:, 3:].astype(float)